/* Styles for Web Design Lab Portfolio Project
 *
 * It's a good idea to keep a comment up here at the top of the file with useful
 * information for anyone trying to read the file: notes, hints, etc. One very valuable
 * piece of information is who to talk to about this file if you have questions! Hence:
 *
 * Author: Paul Mazaitis
*/

/* This is a CSS Comment; note the comment syntax is different from what we use to mark up comments in HTML! */

/* Page styles after this comment */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  font-family: Lato, sans-serif;
}

h1 {
  font-family: "Architects Daughter", cursive;
}

/* I'd like these to apply to all of the headings */

h2,
h3,
h4 {
  color: darkgreen;
  font-weight: 700;



}

/* Now to adjust individual sizes */

h2 {
  font-size: 200%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 120%;
}

/* Starting to set up an accent color */

a {
  color: darkgreen;

}

/* Warning: this affects all the images on the site!

   Trying for a consistant image treatment. */

img {
  width: 9em;
  padding: 0.5em;
  border: solid 2px grey;
  margin: 0.5em;
}

.homepage_photo {
  width: 9em;
  float: left;
}

.contact_photo {
  width: 6em;
  float: right;
}

.contact_main {
  overflow: auto;
}

/* We can constrain the main element and everything it to a static width for readability, then center it for balance.*/

.site_content {
  width: 45em;
  margin: 0 auto 0 auto;
}

/* Let's make the headers interesting */

.hello_sticker {
  background: darkgreen;
  color: white;
  padding: 1em;
  border-radius: 1em;
  width: 10em;
  height: 10em;
  text-align: center;
  margin: 20px auto 20px auto;
  transform: rotate(7deg)
}

.hello_sticker h1 {
  background: white;
  color: black;
  padding: 0.2em;
  border-radius: 1em;
  margin: 0;
}

.hello_sticker p {
  margin: 0 0 0.2em 0;
  font-size: 150%;

}

/* nav styles */

nav {
  width: 45em;
  margin: 0 auto 0 auto;
  background-color: darkgreen;
  padding: 0.1em;
  color: white;
  border-radius: 1em;
}

nav a {
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0.1em
}

nav ul li {
  flex: 1;
  text-align: center;
  border-radius: 0.3em;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: darkgreen;
  background-color: #e5e5e5;
  font-weight: bold;
  font-size: 120%;
  margin: 0.5em;
  padding: 0.2em;
  border-radius: 0.3em;
}

nav ul li a:hover {
  background-color: white;
}

nav .current_page {
  color: black;
}

/*Image hovering effects*/

.mongered_thing {
  position: relative;
}

.mongered_thing img {
  position: absolute;
  left: -5em;
  top: -2em;
  width: 3em;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
}

.mongered_thing:hover img {
  background-color: darkgray;
}

.zipline {
  position: relative;
}

.zipline_guy {
  position: absolute;
  left: -5em;
  top: -1.5em;
}

.zipline_guy g {
  stroke: #000000;
  fill: #000000;
  stroke-width: 1px;
}

/* Turn the zipline guy red when we hover over the zipline section */

.zipline:hover .zipline_guy g {
  fill: red;
}

/* Things relating to the contact page */

.business_card {
  background: darkgreen;
  color: white;
  padding: 1em;
  width: 18em;
  height: 10em;
  margin: 20px auto 20px auto;
  border-radius: 1em;
  transform: rotate(7deg)
}

.business_card h1 {
  margin-top: 0;
  margin-bottom: 2em;
}

.business_card .greeking {
  width: 5em;
  height: 0.3em;
  border-radius: 0.3em;
  background-color: white;
  margin-bottom: 1em;
}

/* Things realting to the news page */

.news_content {
  display: flex;
}

.news_content main {
  flex: 3;
  margin-left: 2em;
  margin-right: 2em;
}

.news_content aside {
  flex: 1;
}

.newspaper {
  background: darkgreen;
  color: white;
  padding: 1em;
  border-radius: 1em;
  width: 14em;
  height: 10em;
  text-align: center;
  margin: 20px auto 20px auto;
  transform: rotate(7deg)
}

.newspaper h1 {
  margin-top: 0;
  margin-bottom: 0.0em;
}

.newspaper_columns {
  display: flex;
  margin-bottom: 3em;
}

.newspaper_columns div {
  flex: 1;
  background-color: white;
  margin: 0.3em;
  height: 6em;
  border-radius: 3px;
}

/* Portfolio layout */

.portfolio_content {
  width: 45em;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio_item {
  padding: 0.3em;
  border: solid 2px grey;
  margin: 1em;
}

/* I want these to be h1, becasue they are logically the top level header for each portfolio card, but I want them to appear like other non-title headers on the page, so this override is needed... */
.portfolio_item h1 {
  font-family: Lato, sans-serif;
}

.portfolio_item figure {
  float: right;
  width: 7em;
  margin: 0 0 0 0.5em;
  border: solid 2px lightgrey;
}

.portfolio_item img {
  width: 5em;
  border: none;
}

.portfolio_item figcaption {
  font-size: 80%;
  font-style: italic;
  text-align: center;
}

/* Footer styles */

footer {
  width: 45em;
  margin: 1em auto 0 auto;
  background-color: darkgreen;
  padding: 1em;
  color: white;
  border-radius: 1em;
  clear: both;
}
