/* Styles for Web Design Lab Portfolio Project
 *
 * It's a good idea to keep a comment up here at the top of the file with useful
 * information for anyone trying to read the file: notes, hints, etc. One very valuable
 * piece of information is who to talk to about this file if you have questions! Hence:
 *
 * Author: Paul Mazaitis
*/

/* This is a CSS Comment; note the comment syntax is different from what we use to mark up comments in HTML! */

/* Page styles after this comment */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  font-family: Lato, sans-serif;
}

h1 {font-family: "Architects Daughter", cursive;}

/* I'd like these to apply to all of the headings */

h2,h3,h4 {
  color: darkgreen;
  font-weight: 700;
}

/* Now to adjust individual sizes */

h2 {
  font-size: 200%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 120%;
}

/* Starting to set up an accent color */
a {
  color: darkgreen;

}
