/* Styles for Web Design Lab Portfolio Project
 *
 * It's a good idea to keep a comment up here at the top of the file with useful
 * information for anyone trying to read the file: notes, hints, etc. One very valuable
 * piece of information is who to talk to about this file if you have questions! Hence:
 *
 * Author: Paul Mazaitis
*/

/* This is a CSS Comment; note the comment syntax is different from what we use to mark up comments in HTML! */

/* Page styles after this comment */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  font-family: Lato, sans-serif;
}

h1 {
  font-family: "Architects Daughter", cursive;
}

/* I want to set these for all of h2, h3, h4... */
h2,
h3,
h4 {
  font-weight: bold;
  color: darkgreen;
}

/* ...but then make specific changes for some headers. */

h2 {font-size: 190%;}

h3 {font-size: 140%;}

h4 {font-size: 110%;}

/* Starting a green theme, here */
a {color: darkgreen;}

/* Note: we can't yet differentiate list items in the lists and sublists (can you see why?) */

li {
  font-style: italic;
}
